* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #FFE600;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.logo {
    height: 84px;
    margin-bottom: 10px;
    
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 34px;
}

.search-btn{
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: 34px;

}

.search-btn:hover{
    background-color: #f0f0f0;
}

.main{
    padding: 30px 0;
}

.section-title{
    font-size: 24px;
    margin-bottom: 20px;
}

.products-grid{
    display: grid;
}

.hero{
    background-image: url("https://http2.mlstatic.com/D_NQ_737906-MLA98370737647_112025-OO.webp");
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction:  column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
    
}

.footer{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #FFE600;

}

.footer p{
    color: #777;
    font-size: 14px;
}



